﻿@model FMOrderService.Models.API.MonitoringModels.OrdersLogsViewModel
@{
    ViewBag.Title = "OrdersLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12" style="text-align: center; vertical-align: central; padding: 20px">
        <label for="searchOrder">Search order by ID: </label>
        <input name="searchOrder" type="text" style="margin-left:10px;" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12" style="text-align: center; vertical-align: central">
        <input type="submit" class="search-order-btn btn-sm " value="Search" />
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Logs Count</th>
            <th>Date Created</th>
            <th>Date Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>@Html.ActionLink(order.ID.ToString(),"OrderLogs", "Monitoring", new { id = order.ID.ToString() }, null)</td>
                <td>@(order.WorkflowLogs.Count)</td>
                <td>@order.DateCreated.ToUniversalTime()</td>
                <td>@(order.DateUpdated != null ?  order.DateUpdated.ToUniversalTime().ToString() : "Null")</td>
            </tr>
        }
    </tbody>
</table>

