﻿@model FMOrderService.Models.API.MonitoringModels.OrderLogsViewModel
@{
    ViewBag.Title = "OrderLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Order.ID</h2>

@if (!Model.Order.WorkflowLogs.Any())
{
    <span>This order has no logs yet.</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Order.WorkflowLogs)
            {
                <tr>
                    <td>@log.Date.ToUniversalTime()</td>
                    <td>@log.Status</td>
                    <td>@log.Text</td>
                </tr>
            }
        </tbody>
    </table>
}
